@model Dominio.Core.Entities.Usuario

@{
    ViewBag.Title = "Index";
}

<header>
    <div class="container-fluid">
        <div class="hero">
            <div class="col-md-5 col-md-offset-6">
                <div class="panel panel-primary registrate">
                    <div class="panel-heading">
                        Registrate
                    </div>
                    <div class="panel-body">
                        @using (@Html.BeginForm("Registrar", "Usuario", FormMethod.Post))
                        {
                            <table>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.nom_usu):
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.nom_usu, new{placeholder = "Carlos" } )
                                        @Html.ValidationMessageFor(model => model.nom_usu)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.apePat_usu):
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.apePat_usu, new { placeholder = "Perez" })
                                        @Html.ValidationMessageFor(model => model.apePat_usu)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.apeMat_usu):
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.apeMat_usu, new { placeholder = "Diaz" })
                                        @Html.ValidationMessageFor(model => model.apeMat_usu)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.fecNac_usu):
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.fecNac_usu, new { @class = "datePicker" , placeholder = "yyyy/mm/dd" })
                                        @Html.ValidationMessageFor(model => model.fecNac_usu)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.email_usu):
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.email_usu, new { placeholder = "carlos123@gmail.com"})
                                        @Html.ValidationMessageFor(model => model.email_usu)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.sexo_usu):
                                    </td>
                                    <td>
                                        M:@Html.RadioButtonFor(model => model.sexo_usu, "M", new { Checked = "checked" })
                                        F:@Html.RadioButtonFor(model => model.sexo_usu,"F")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.contr_usu):
                                    </td>
                                    <td>
                                        @Html.PasswordFor(model => model.contr_usu, new { placeholder = "•••••••" })
                                        @Html.ValidationMessageFor(model => model.contr_usu)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Continuar" /></td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

